/*Adding the background Image to full screen and making it not repeat itself*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Dhurjati;
    background: url("./pictures/chess-background-1920p.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Removing list dots and the line under links*/
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #ffe4bfff;
    font-size: 20px;
}
/*Main flex container*/
.content {
    display: flex;
    flex-direction: column;
}
/*Adding header margin and making it a flex container*/
.header {
    width: auto;
    height: max-content;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(179,136,24,1) 0%, rgba(144,96,61,0.7) 100%);
    display: flex;
    flex-direction: column;
}
/*Top part of the header*/
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}
/*Adjusting the logo size and text*/
.logo {
    margin: 0;
    width: auto;
    height: 75px;
}
.logo-text {
    font-family: Dhurjati;
    font-size: 30px;
    color: #ffe4bfff;
    height: fit-content;
    width: fit-content;
    flex-shrink: 0;
}
.list-1 {
    display: flex;
    justify-content: space-between;
    width: 600px;
    flex-shrink: 0;
}
/*Bottom part of the header*/
.header-2 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    gap: 50px;
}
.header-2-l {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-2-r {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Header image*/
.header-2-r img {
    height: auto;
    width: 600px;
    box-shadow: 0 0 10px 3px #00000067;
}
/*Header hero text*/
#hero {
    font-family: Dhurjati;
    font-weight: bold;
    font-size: 70px;
    color: #ffe4bfff;
    margin: 0;
    max-width: max-content;
}
#sub-hero {
    font-size: 26px;
    color: #ffe4bfff;
    line-height: 50px;
}
/*Bottom part of the header (Button)*/
.header-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header-3 a {
    color: #ffe4bfff;
    font-size: 36px;
    font-weight: bold;
    background-color: #6a3d00ff;
    padding: 15px 30px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}
/*Important links*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.information h1 {
    color: #90603dff;
    text-shadow: 1px 1px 5px #ffe4bfff, -1px -1px 5px #ffe4bfff, 1px -1px 5px #ffe4bfff, -1px 1px 5px #ffe4bfff;
    margin-bottom: 100px;
}
/*Icons with text links*/
.illustrations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.illustrations div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.illustrations img {
    width: auto;
    height: 200px;
}
.illustrations a {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #90603dff;
    text-shadow: 1px 1px 2px #ffe4bfff, -1px -1px 2px #ffe4bfff, 1px -1px 2px #ffe4bfff, -1px 1px 2px #ffe4bfff;
    width: 200px;
}

/*Resposiveness magic*/
@media (max-width: 1370px) {
    .content {
        min-width: 450px;
    }
    .header {
        padding: 10px 30px 30px 30px;
    }
    .header-1 {
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
    .logo {
        width: auto;
        height: 50px;
    }
    .logo-text {
        font-size: 20px;
    }
    .list-1 {
        width: calc(40% + 1vw);
    }
    .list-1 a {
        font-size: 12px;
    }
    .header-2 {
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .header-2-l {
        align-items: center;
    }
    .header-2-r {
        margin: 0;
    }
    .header-2-r img {
        height: auto;
        max-width: 100%;
    }
    .header-3 {
        align-items: center;
        align-content: center;
    }
    .information h1 {
        white-space: nowrap;
    }
    .illustrations {
        justify-content: center;
    }
}