body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Dhurjati;
    background: url("../pictures/jani-kaasinen-7VGzV09YnvA-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}

:root {
    --formWidth: 50%;
    --mainColor: #ffe4bfff;
    --secondaryColor: #90603dff;
    --secondaryColorA: rgba(144, 96, 61, 0.5);
    --backgroundColor: #f2e0c9;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - var(--formWidth));
}

.logo-content {
    margin-top: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 22%;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondaryColorA);
}

.logo-content h1 {
    font-size: 3em;
    color: var(--mainColor);
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.left p, .left p a {
    width: 100%;
    text-align: center;
    color: var(--mainColor);
    font-size: 1em;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--backgroundColor);
    width: var(--formWidth);
}
 
.right .upper, .right .middle, .right .bottom {
    width: 100%;
    height: 33.33%;
    padding-left: 3rem;
    box-sizing: border-box;
}

.right .upper p {
    margin: 0 6em 0 0;
}

.right .upper {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1.5em;
    text-align: start;
    gap: 1.5em;
    margin-bottom: 2.5em;
}

.right .middle {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0.2em 0.3em #00000067;
    height: 35%;
}

.names, .contact, .password {
    display: flex;
    margin: 1.5em 0;
}

.right .middle .formGroup {
    display: flex;
    flex-direction: column;
    width: 40%;
}

input {
    width: 80%;
    height: 2em;
    padding: 0.5em;
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    height: 2.8em;
    width: fit-content;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5em 3em;
    font-weight: bold;
    margin-top: 2em;
    box-shadow: 0.1em 0.1em 0.3em #00000067;
}

.right .bottom p {
    margin: 0;
    margin-top: 2em;
    font-size: 1.2em;
}

.right .bottom p a {
    color: var(--secondaryColor);
}