body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Dhurjati;
    background: url("../pictures/randy-fath-G1yhU1Ej-9A-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}